body {
	font-size: 200%;
}

body {
	font-family: sans-serif;
}

input {
	font-size: 100%;
	border: 1px solid #ccc;
	padding: 0.25em;
}

footer {
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 40%;
	color: #666;
	padding: 1em;
}

footer a {
	color: #333;
}

#input-section {
	padding: 1em;
	border-bottom: 1px solid #ccc;
	text-align: center;
}

#input-section div {
	display: inline-block;
}

.grapheme-cluster {
	border-bottom: 2px solid #71AB72;
	margin: 0.5em;
	display: inline-block;
	padding-bottom: 0.5em;
}

#output {
	margin: 0 auto;
	text-align: center;
}

ruby {
	margin: 0 0.5em;
}
