html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
}

#input-section {
	padding: 2em;
	border-bottom: 1px solid #ccc;
	text-align: center;
}

#input-section div {
	display: inline-block;
}

.grapheme-cluster {
	border-bottom: 2px solid #71AB72;
	margin: 0.5em;
	display: inline-block;
	padding-bottom: 0.5em;
}

#output {
	margin: 0 auto;
	text-align: center;
}

ruby {
	margin: 0 0.5em;
}
